.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    border: 2px solid; 
    min-width: 300px; 
    text-align: center;
}
.container :is(.drag, .slot) {
    display: flex;
    height: 50px;
    min-width: 150px;
    justify-content: center;
    align-items: center;
}
#container-0 .drag {
    border: solid gray 3px;
}
#container-1 .drag {
    border: solid red 3px;
}
.slot {
    position: relative;
    border: orange dashed 3px;
    z-index: -10;
}
.pair {
    display: grid;
    grid-template-columns: 1fr;
}
.pair div {
    grid-row-start: 1;
    grid-column-start: 1;
}