#main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    border: 5px blue solid; 
    max-width: 500px; 
    margin: 0 auto;
    
}

#main div {
    height: 50px;
    border: solid black 3px;
    align-content: center;
    justify-content: center;
}