.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 40px;
}
#numbers, 
#alphabet {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    border: 2px solid; 
    min-width: 300px; 
    text-align: center;
}

:is(#numbers, #alphabet) div {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#numbers div {
    border: solid gray 3px;
}

#alphabet div {
    border: solid red 3px;
}